body { margin: 0; }
canvas { display: block; }
#coordinate-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px; /* Initial collapsed width */
    height: 100%;
    background-color: #232323;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    z-index: 1;
}

#sidebar.expanded {
    width: 200px; /* Expanded width */
}

#sidebar-header {
    display: flex;
    align-items: center;
    padding: 20px;
}

#sidebar-header .fa-cube {
    font-size: 24px;
}

.sidebar-title {
    margin-left: 10px;
    font-size: 18px;
    display: none;
}

#sidebar.expanded .sidebar-title {
    display: inline;
}

#sidebar-content {
    flex-grow: 1;
    padding: 10px 0;
}

#sidebar-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar-content ul li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sidebar-content ul li:hover {
    background-color: #343434;
}

#sidebar-content ul li i {
    font-size: 20px;
}

.sidebar-text {
    margin-left: 10px;
    display: none;
}

#sidebar.expanded .sidebar-text {
    display: inline;
}

.notification-dot {
    width: 8px;
    height: 8px;
    background-color: #4caf50;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
}

#sidebar-footer {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

#sidebar-footer i {
    font-size: 24px;
}

#sidebar.expanded #sidebar-footer .sidebar-text {
    display: inline;
}

#main-content {
    margin-left: 60px; /* Adjust according to sidebar width */
    padding: 20px;
    transition: margin-left 0.3s ease;
}

#sidebar.expanded ~ #main-content {
    margin-left: 200px; /* Adjust according to expanded sidebar width */
}
